.sideBar {
  background: white;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin-top: 3.4rem;
  position: fixed;
  width: 280px;
  height: 80%;
}

.sectionTitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .sideBar {
    position: static;
    width: 100%;
    margin-top: 2rem;
  }
}
